<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Receitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    

    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" href="#">
            <img
              src="/img/luffy.jpg"
              height="16"
              loading="lazy"
              style="margin-top: -1px;"
            />
          </a>
      
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
  
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/#">Página de Receitas</a>
              </li>
            </ul>
            
            <!-- Right links -->
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-link px-3 me-2">
                Visualizar Receitas Cadastradas
              </button>
              <button type="button" class="btn btn-primary me-3" onclick="window.location.href='/cadastroReceita'">
                Cadastrar Receita
              </button>
              <a
                class="btn btn-dark px-3"
                href="https://github.com/gabopedrosa"
                role="button"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <img src="/img/background.jpg" class="bg-img">
      <!-- Receita 1 -->
      <div>
        <div class="bodyReceita">
          <h1> Receita: </h1>
            <h3> Lasanha à bolonhesa</h3>
            <ul>
                <img
                src="/img/ingredients.png"
                height="30"
                loading="lazy"
                style="margin-top: -1px;"
                    />
                <p>Ingredientes </p>
                <li> 3 colheres de margarina </li>
                <li> 4 colheres de farinha de trigo </li>
                <li> 2 xícaras de leite </li>    
                <li> 2 xícaras de creme de leite</li>
                <li> Sal e noz-moscada a gosto</li> 
                <li> 1 colher de óleo</li>
                <li> 2 dentes de alho amassados</li>    
                <li> 1 cebola picada</li>    
                <li> 300 g de carne moída</li>    
                <li> 3 xícaras de polpa de tomate batida no liquidificador</li>
                <li> 3/4 xícara de água quente</li>
                <li> sal a gosto</li>    
                <li> 200 g de presunto fatiada</li>
                <li> 200 g de mussarela fatiada</li>  
                <li> 250 g de massa para lasanha</li>  
            </ul>
            
            <ol>
                <img
                src="/img/preparo.png"
                height="30"
                loading="lazy"
                style="margin-top: -1px;"
                    />
                <p>Modo de Preparo:</p>
                <li>Molho branco:</li>
                <li>Derreta a margarina e doure a farinha em fogo baixo mexendo sempre, junte o leite aos poucos.</li>
                <li>Cozinhe até obter um molho encorpado, acrescente o creme de leite e tempere com sal e noz-moscada.</li>
                <li>Reserve.</li>
                <li>Molho a bolonhesa:</li>
                <li>Aqueça o óleo junte o alho e a cebola até dourar.</li>
                <li>Acrescente a carne moída até fritar, quando a carne estiver frita acrescente a polpa de tomate e a água misture o sal e cozinhe até ferver.</li>
                <li>Montagem:</li>
                <li>Em um refratário grande, coloque uma camada de molho à bolonhesa, massa para lasanha, presunto, mussarela, molho branco.</li>
                <li>Adicione mais massa para lasanha presunto e mussarela e termine com molho à bolonhesa.</li>
                <li>Se quiser, polvilhe um pouco de queijo parmesão ralado e leve ao forno para gratinar por 20 minutos.</li>
              </ol>  
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>